.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.text-align-center {
	text-align: center;
}

html {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	// font: normal 100%/1.4 Georgia,serif;
	font-size: 16px;
	font-family: $font-family;
}

main.home-content {
	@media (min-width: 600px) {
		margin-top: 80px;
	}
}

body {
	color: #404040;
	position: relative;
}

body * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
