.large-container {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 1200px) {
		max-width: 1200px;
	}
	@media (min-width: 600px) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.latest-articles {
	text-align: center;
	@media (min-width: 1200px) {
		display: flex;
		flex-direction: row;
	}
}

.article-link, .time {
	display: block;
}

.latest-articles .article-link {
	background: #f2f2f2;
	transition: all 0.2s ease;
	margin-bottom: 1rem;
	@media (min-width: 1200px) {
		flex: 1;
	}
}


// .latest-articles, .article-inner {
// 	border: 0;
// }

.article-link~.article-link {
	margin-left: 1rem;
}

.article-link:hover {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

.article-inner {
	// transition: all 0.2s ease;
	display: -webkit-flex;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: space-around;
	color: #404040;
	transition: all 0.2s ease;
	@media (min-width: 600px) {
		padding: 2.5rem 2rem;
	}
}

.article-inner h1 {
	margin: 0.67rem 0 0.25rem 0;
	@media (min-width: 600px) {
		font-size: 1.8rem;
	}
}

.article-inner time {
	color: #a1a1a1;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 0.9rem;
}

.article-inner p {
	margin: 1rem 0;
	line-height: 1.5;
}

.article-inner img {
	@media (min-width: 600px) {
		display: block;
		padding: 1rem;
		width: 150px;
		height: 150px;
		max-width: 150px;
	}
}