.middle-btn {
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	@media (min-width: 600px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.heading {
	font-size: 2rem;
	margin: 0;
	@media (max-width: 600px) {
		font-size: 2.5rem;
		margin: 0;
	}
}

.inner-text {
	margin: 1rem 0;
}


