.masthead {
	padding: 1em;
	// background: #000531 url('../../img/planets/neptune.png') no-repeat center center;
	background-size: cover;
	color: #fff;
}

.masthead-planets {
	// background-image: url('../../img/planets/ceres.jpg');
}