
.nav-wrap {
	z-index: 100;
	@media (min-width: 600px){
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background: #fff;
		border-bottom: 1px solid #e2e2e2;
		box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
	} 
}


.nav-container {
	@media (min-width: 600px){
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
}

.nav-container a {
	float: left;
	display: block;
	font-size: 0.95em;
	font-weight: 600;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: #222;
	background: #fff;
	@media (min-width: 600px) {
		text-align: center;
		height: 80px;
		line-height: 80px;
		width: 16.666667%;
	}
}

[class *="nav_item"] {
border-bottom: 1px solid #e2e2e2;
}

.nav-container .nav_item_1 { padding-top: 15px; }

.nav-container .nav_item_1:hover {
	border-bottom: 3px solid #eb4d5c;
}
.nav-container .nav_item_2:hover {
	border-bottom: 3px solid #f7931e;
}
.nav-container .nav_item_3:hover {
	border-bottom: 3px solid #f6bf26;
}
.nav-container .nav_item_4:hover {
	border-bottom: 3px solid #54c381;
}
.nav-container .nav_item_5:hover {
	border-bottom: 3px solid #049ae5;
}
.nav-container .nav_item_6:hover {
	border-bottom: 3px solid #795da3;
}

.nav-container .logo {
	display: inline-block;
	max-width: 100%;
	// vertical-align: middle;
	@media (min-width: 600px) {
		max-width: 100%;
		width: 50px;
		height: 50px;
		border: 1px solid transparent; 
		border-radius: 25px;
		background-image: url('../../assets/img/me_character.jpg');
		background-size: 100%;
	}
}



