<footer class="footer small-container">
	<a href="https://www.facebook.com/yeongbae.ji.1" class="social-icon facebook">
		<i class="fa fa-facebook-square" aria-hidden="true"></i>
	</a>
	<a href="https://github.com/jyoungcode" class="social-icon github">
		<i class="fa fa-github" aria-hidden="true"></i>
	</a>
	<a href="https://codepen.io/jyoungcode" class="social-icon codepen">
		<i class="fa fa-codepen" aria-hidden="true"></i>
	</a>
	<a href="https://www.linkedin.com/in/yeongbae-ji-b96040125" class="social-icon linkedin">
		<i class="fa fa-linkedin-square" aria-hidden="true"></i>
	</a>
</footer>