<nav class="nav-wrap">
	<ul class="nav-container">
		<li>
			<a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %} nav_item_1">
				<span class="logo"></div>
					<!-- <img src="../img/me_character.jpg" alt="main screen" class="logo"> -->
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/articles" class="{% if page.url == '/' %}current{% endif %} nav_item_2">Articles</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/about/" class="{% if page.url contains 'planets' %}current{% endif %} nav_item_3">About</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/portfolio/" class="{% if page.url contains 'news' or page.url contains 'recently-discovered' %}current{% endif %} nav_item_4">Portfolio</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/projects/" class="{% if page.url contains 'news' or page.url contains 'recently-discovered' %}current{% endif %} nav_item_5">Projects</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'news' or page.url contains 'recently-discovered' %}current{% endif %} nav_item_6">Contact</a>
		</li>
	</ul>
</nav>