<!-- [start] banner -->
<section class="banner">
	<div class="small-container">
		<h1>JyoungCode</h1>
		<h2>Front End Web Developer</h2>
		<p class="opener">Stay hungry, Stay foolish</p>
		<a href="https://github.com" class="social-icon github">
			<i class="fa fa-github" aria-hidden="true"></i>
		</a>
		<a href="https://facebook.com" class="social-icon facebook">
			<i class="fa fa-facebook-square" aria-hidden="true"></i>
		</a>
		<a href="https://kr.linkedin.com/" class="social-icon linkedin">
			<i class="fa fa-linkedin-square" aria-hidden="true"></i>
		</a>
	</div>
</section><!-- [end] banner -->

<!-- [start] card -->
<section class="latest-content">
	<div class="large-container">
		<div class="latest-articles">
			<a href="" class="article-link">
				<article class="article-inner">
					<div>
						<h1>How to Build 반응형 플렉스 박스</h1>
						<time datetime="2016-09-09">Sept 09, 2016</time>
						<p>You may have noticed I’ve updated the site to include a front page with a grid listing all the tutorials. As you resize the screen, it goes from three columns,…</p>
					</div>
					<div class="article-image">
						<img src="../img/content-img/flexbox.png" alt="">
					</div>
				</article>
			</a>
		</div>
	</div>
</section>
<!-- [end] latest-content -->

<section class="latest-content">
	<div class="large-container">
		<div class="latest-articles">
			<a href="" class="article-link">
				<article class="article-inner">
					<div>
						<h1>JavaScript Day Two: 비교, 탐색</h1>
						<time datetime="2016-09-09">Sept 09, 2016</time>
						<p>You may have noticed I’ve updated the site to include a front page with a grid listing all the tutorials. As you resize the screen, it goes from three columns,…</p>
					</div>
					<div class="article-image">
						<img src="../img/content-img/jscontent.png" alt="">
					</div>
				</article>
			</a>
		</div>
	</div>
</section>
