<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{page.title}} | {% endif %}JyoungCode blog{% if page.titleAfter %} | {{page.titleAfter}}{% endif %}</title>
  <meta name="description" content="{{page.meta}}">
  <link rel="shortcut icon" href="assets/img/me_favicon.png">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="Resources/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="Resources/webfonts/SpoqaHanSans-kr.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CPoppins" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins" rel="stylesheet">
</head>
<body>
  {% include header.html %}
  {{content}}
  {% include footer.html %}



</body >
</html>